:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --titles-font: 'Quattrocento', serif;
  --color-cyan: #00b4d8;
  --color-black-ish: #121416;
  --color-white-ish: #f8f9fa;
}

body {
  font-family: 'Fanwood Text', serif;
  background-color: var(--color-black-ish);
  color: var(--color-white-ish)
}

header{
  img{
    object-fit: cover;
    object-position: center;
    width: 100%;
  }
}

h2 {
  font-family: var(--titles-font);
}

main{
  margin: 0 10%;
}

.navbar-brand {
  img{
    height: 30px;
  }
}

.navbar {
  position: fixed;
  font-family: var(--titles-font);
  width: 100%;
}

.navbar.scrolled {
  transition: background 0.5s ease;
  background: rgb(68, 68, 68); /* IE */
  background: rgba(0, 0, 0, 0.78); /* NON-IE */
}

.navbar-container{
  margin: 0 8%;
}

.navbar-toggler:focus, .navbar-toggler {
  outline: none;
  box-shadow: none;
  border: none;
}

.icon-container {
  background-color: var(--color-cyan);
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
  i{
    font-size: 1.7em;
  }
}

.card-body {
  background-color: var(--color-cyan);
  color: var(--color-white-ish);
}

.submit-button {
  background-color: var(--color-cyan)!important;
}

footer {
  background-color: var(--color-cyan);
}

.social-icons {
  list-style: none;
}

